In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [15]:
import pandas as pd

def bring_bungae_df():
    df = pd.read_csv('/content/drive/MyDrive/★new_bgzt_final_data.csv')

    # bring needed columns
    df = df[['id', 'name', 'info', 'cat_id', 'tag']]
    bungae_df = df.copy()

    # change dtypes
    bungae_df['id'] = bungae_df['id'].astype(str)
    bungae_df['cat_id'] = bungae_df['cat_id'].astype(str)

    # creating maincat, midcat columns
    bungae_df['maincat_id'] = bungae_df['cat_id'].apply(lambda x : x[:3])
    bungae_df['midcat_id'] = bungae_df['cat_id'].apply(lambda x : x[:6])

    return bungae_df

bungae_df = bring_bungae_df()
bungae_df.head()

,id,name,info,cat_id,tag,maincat_id,midcat_id
0,218284196,자라 패딩점퍼,사이즈 스몰 새것 입니다.,310300200,자라,310,310300
1,217144587,메이비베이비 덕다운 패딩 그레이컬러 쉬이즈큐트,입을일이 없었어서 2회 단시간 착용후 보관중입니다! 상태 매우 좋아요:) 이가격에 ...,310300200,"메이비베이비,스무스무드,엔조블루스,더바넷,더버터크림",310,310300
2,210838660,타이온 경량패딩 V 넥 다운 자켓 블랙 m사이즈,타이온 경량패딩 V 넥 다운 자켓 블랙 m사이즈 한번 착용으로 상태 좋습니다! 파...,310300200,"타이온,타이온경량패딩,경량패딩",310,310300
3,196717770,컬럼비아 여성패딩 M(95),컬럼비아 여성패딩 택있는 새상품 ! 고어텍스 구스다운 숏패딩(55~66사이즈) 무료...,310300200,컬럼비아,310,310300
4,225457252,프라다 구스다운 여름가격할인,부산이라 날씨가 안춥기도 하고 항상 차로 움직여서 입을 일이 없어 패딩 상태 아주...,310300200,"프라다,패딩,구스,여성패딩,숏패딩",310,310300

In [16]:
# -- check the amount of data in each main category --
bungae_df['maincat_id'].value_counts()

310    358713
320    217541
400    143967
430    143677
422    143123
405    142700
421     53297
Name: maincat_id, dtype: int64

In [ ]:
# -- check the amount of data in each sub category --
bungae_df['midcat_id'].value_counts()

In [18]:
# -- export bungae_df for use --
bungae_df.to_csv('/content/drive/MyDrive/new_bungae_df.csv', index=False)